[submodule "roles/sysinit"]
	path = roles/sysinit
	url = https://github.com/clay-wangzhi/ansible-role-sysinit.git
[submodule "roles/jenkins"]
	path = roles/jenkins
	url = https://github.com/clay-wangzhi/ansible-role-jenkins.git
[submodule "roles/mysql"]
	path = roles/mysql
	url = https://github.com/clay-wangzhi/ansible-role-mysql.git
[submodule "roles/tomcat"]
	path = roles/tomcat
	url = https://github.com/clay-wangzhi/ansible-role-tomcat.git
[submodule "roles/zabbix-server"]
	path = roles/zabbix-server
	url = https://github.com/dj-wasabi/ansible-zabbix-server.git
[submodule "roles/zabbix-agent"]
	path = roles/zabbix-agent
	url = https://github.com/dj-wasabi/ansible-zabbix-agent.git
[submodule "roles/zabbix-proxy"]
	path = roles/zabbix-proxy
	url = https://github.com/dj-wasabi/ansible-zabbix-proxy.git
[submodule "roles/elasticsearch"]
	path = roles/elasticsearch
	url = https://github.com/elastic/ansible-elasticsearch.git
[submodule "roles/kibana"]
	path = roles/kibana
	url = https://github.com/clay-wangzhi/ansible-role-kibana.git
[submodule "roles/logstash"]
	path = roles/logstash
	url = https://github.com/clay-wangzhi/ansible-role-logstash.git
[submodule "roles/zookeeper"]
	path = roles/zookeeper
	url = https://github.com/clay-wangzhi/ansible-role-zookeeper.git
[submodule "roles/kafka"]
	path = roles/kafka
	url = https://github.com/clay-wangzhi/ansible-role-kafka.git
[submodule "roles/filebeat"]
	path = roles/filebeat
	url = https://github.com/elastic/ansible-beats.git
