---
namespace: clay_wangzhi
name: devops
description: An elegant collection of Kuberenetes automation tools.
version: "{{ tag }}"
readme: README.md
authors:
  - clay
dependencies: { }
license:
  - MIT
tags:
  - elk
repository: https://github.com/clay-wangzhi/ansible-collection-devops
documentation: https://github.com/clay-wangzhi/ansible-collection-devops
# homepage: ""
issues: https://github.com/clay-wangzhi/ansible-collection-devops/issues
build_ignore:
  - scripts
  - molecule
  - .DS_Store